<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @movie.title %></title>
    <h2>Year: <%= @movie.creation_year %> </h2>
    <h2>Genre: <%= @movie.genre %> </h2>
  </head>
  <body>
    <section>
      <h3>Actors in <%= @movie.title %> </h3>
      <% @actors.each do |actor| %>
        <%= actor.name %><br>
      <% end %>
    </section><br>

    <section>
      <div>Add Actor to <%= @movie.title %>:</div><br>
      <%= form_with url: "/movies/#{@movie.id}", method: :get, local: true do |f| %>
        <% @all_actors.each do |thespian| %>
          <%= f.label :actor_name, "Actor Name:" %>
          <%= f.text_field :actor_name %>
          <%= f.submit "Submit" %>
        <% end %>
      <% end %>
    </section>
  </body>
</html>
